    html {
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    body {
        margin: 10px;
        padding: 10px;
        background-image: linear-gradient(#5DA4D9, #FFF);
        text-align: center;
        color: white;
    }
    #emojiContainer {
        margin: 40px;
        text-align: center;  
    }
    #emoji-container span {
        margin: 10px;
        font-size: 100px;
    }
    #push-btn{
        background: #148a12;
        cursor: pointer;
        width: 120px;
        height:  40px;
    }
   #unshift-btn{
    background: #48d745;
    width: 120px;
    height:  40px;
    cursor: pointer;
     }
     #unshift-btn:active{
    border: 2px solid yellow;
     }
     #push-btn:active{
        border: 2px solid yellow;
    } 
    #shift-btn {
        background-color: red;
        cursor: pointer;
        width: 130px;
        height: 40px;
    }
    #shift-btn:active{
        border: 2px solid yellow;
    }
    #pop-btn{
        background-color: #E23349;
        cursor: pointer;
        width: 120px;
        height:  40px;
    }
    #pop-btn:active{  
        border: 2px solid yellow;
    }
     input {
    border: none;
    height: 30px;
    background: white;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 20px;
    width: 40%;
    }
    button {
    background: darkcyan;
    color: white;
    border: none;
    padding: 4px 20px;
    border-radius: 5px;
    margin: 8px 4px;
   }
   .buttons-wrapper {
    display: flex;
    justify-content: center;
   }