    html {
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    body {
        margin: 10px;
        padding: 10px;
        background-image: linear-gradient(#5DA4D9, #FFF);
        text-align: center;
        color: white;
    }
    #emojiContainer {
        margin: 40px;
        text-align: center;  
    }
    #emoji-container span {
        margin: 10px;
        font-size: 100px;
    }
    #push-btn{
        background: #148a12;
        cursor: pointer;
        width: 15%;
        padding: 10px;
    }
   #unshift-btn{
    background: #E23349;
    cursor: pointer;
     }
     #unshift-btn:active{
    background: #148a12;
    border: 1px solid white;
     }
     #push-btn:active{
        background: #E23349;
        border: 1px solid white;

    } 


    #shift-btn {
        background-color: #148a12;
        cursor: pointer;
        width: 130px;
        height: 40px;
    }
    #shift-btn:active{
        background-color: #E23349;
        border: 1px solid white;
    }
    #pop-btn{
        background-color: #E23349;
        cursor: pointer;
        width: 120px;
        height:  40px;
    }
    #pop-btn:active{
        background: #148a12;  
        border: 1px solid white;
    }
     input {
    border: none;
    height: 30px;
    background: white;
    border-radius: 6px;
    text-align: center;
    }
    button {
    background: darkcyan;
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 5px;
    margin: 8px 4px;
   }
   .buttons-wrapper {
    display: flex;
    justify-content: center;
   }